<!DOCTYPE html>
<html>
{{template "header" .}}

<body>
    <div id="app">
        <div style="text-align: center;margin: 10px;font-size: 24px;text-shadow: 2px 1px #9e7676;">开拓者平台</div>
        <el-card style="min-height: 500px;">
            <div v-if="activeIndex2 == 1">
                {{template "ind" .}}
            </div>
            <div v-else-if="activeIndex2 == '2-1'">
                {{template "plan" .}}
            </div>
            <div v-else-if="activeIndex2 == '2-2'">
                {{template "articles" .}}
            </div>
            <div v-else-if="activeIndex2 == '2-3'">
                {{template "editor" .}}
            </div>
            <div v-else-if="activeIndex2 == '2-4'">
                {{template "audit" .}}
            </div>
            <div v-else-if="activeIndex2 == '2-5'">
                {{template "tasks" .}}
            </div>
            <div v-else-if="activeIndex2 == '2-6'">
                {{template "tools" .}}
            </div>
            <div v-else-if="activeIndex2.startsWith('3-1-') || activeIndex2.startsWith('3-2-')">
                {{template "toolsmanage" .}}
            </div>
            <div v-else-if="activeIndex2 == '3-3-1'">
                {{template "email" .}}
            </div>
            <div v-else-if="activeIndex2 == 4">
                {{template "home" .}}
            </div>
            <div v-else-if="activeIndex2 == '4-1'">
                {{template "settings" .}}
            </div>
            <div v-else>
                默认页面
            </div>
        </el-card>
        {{template "version" .}}
        <el-menu :default-active="activeIndex2" class="el-menu-demo" mode="horizontal" @select="handleSelect"
            background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
            <el-menu-item index="1">首页</el-menu-item>
            <el-submenu index="2">
                <template slot="title">工作管理</template>
                <el-menu-item index="2-1">计划列表</el-menu-item>
                <el-menu-item index="2-2">文章列表</el-menu-item>
                <el-menu-item index="2-3">新增文章</el-menu-item>
                <el-menu-item index="2-4">审计日志</el-menu-item>
                <el-menu-item index="2-5">任务列表</el-menu-item>
                <el-menu-item index="2-6">工具列表</el-menu-item>
            </el-submenu>
            <el-submenu index="3">
                <template slot="title">工具管理</template>
                <el-submenu index="3-1">
                    <template slot="title">开发工具</template>
                    <el-menu-item v-for="(item,i) in devTools" :key="i" v-html="item.name"
                        :index="'3-1-'+item.id"></el-menu-item>
                </el-submenu>
                <el-submenu index="3-2">
                    <template slot="title">运维工具</template>
                    <el-menu-item v-for="(item,i) in opTools" :key="i" v-html="item.name"
                        :index="'3-2-'+item.id"></el-menu-item>
                </el-submenu>
                <el-submenu index="3-3">
                    <template slot="title">其他工具</template>
                    <el-menu-item index="3-3-1">群发邮件</el-menu-item>
                    <el-menu-item v-for="(item,i) in otherTools" :key="i" v-html="item.name"
                        :index="'3-3-'+item.id"></el-menu-item>
                </el-submenu>
            </el-submenu>
            <el-menu-item index="4">
                个人中心
            </el-menu-item>
        </el-menu>
    </div>
</body>
<script>
    function getUrlParams(key) {
        var url = window.location.search.substr(1);
        if (url == '') {
            return false;
        }
        var paramsArr = url.split('&');
        for (var i = 0; i < paramsArr.length; i++) {
            var combina = paramsArr[i].split("=");
            if (combina[0] == key) {
                return combina[1];
            }
        }
        return false;
    }

    new Vue({
        el: '#app',
        data() {
            return {
                activeIndex2: '1',
                fileList: [],
                userInfo: {
                    email: "",
                    phone: "",
                    username: "",
                    photo: ""
                },
                taskNo: 1,
                taskSize: 10,
                taskPages: 1,
                taskTotalCount: 1,
                taskList: [],
                taskDialogVisible: false,
                task: {
                    name: "",
                    description: "",
                    every: 0,
                    enabled: 0,
                },
                taskDialogTitle: "",
                planNo: 1,
                planSize: 10,
                planPages: 1,
                planTotalCount: 1,
                planList: [],
                planDialogVisible: false,
                plan: {
                    name: "",
                    description: "",
                    plan_status: 0,
                },
                planDialogTitle: "",
                articlesNo: 1,
                articlesSize: 10,
                articlesPages: 1,
                articlesTotalCount: 1,
                articlesList: [],
                articlesType: ["backend", "frontend", "db", "structure", "security", "network", "python", "shell", "go", "other"],
                articleInline: {
                    title: '',
                    type: '',
                    content: "",
                },
                articleType: "",
                articleKey: "",
                article: {},
                editor1: undefined,
                tdid: 0,
                email: {
                    elists: "",
                    ebody: `

以上，谢谢！
祝身体健康，工作顺利，万事如意！
---------------------------------------------------------

李韩
TEL: 18262629610
EMAIL: mx_steve@163.com`,
                    etitle: "",
                    smtp: "smtp.163.com:25",
                    epwd: "GDQFQYVUXMDVKBXS",
                    ename: "mx_steve@163.com"
                },
                auditNo: 1,
                auditSize: 10,
                auditPages: 1,
                auditTotalCount: 1,
                auditList: [],
                auditInline: {
                    name: '',
                    operator: "",
                },
                toolsmanage: {
                    name: "比较器",
                    bin: "D:/data/go/bin/compare.exe",
                    src: "D:/data/go/src",
                    enabled: 1,
                    type: "go"
                },
                toolsNo: 1,
                toolsSize: 10,
                toolsPages: 1,
                toolsTotalCount: 1,
                toolsList: [],
                toolsDialogVisible: false,
                tools: {
                    name: "",
                    bin: "",
                    src: "",
                    type: "",
                    del_tag: 0,
                    enabled: 0,
                },
                toolsDialogTitle: "",
                devTools: [],
                opTools: [],
                otherTools: [],
            }
        },
        computed: {
            headers() {
                return {
                    "Authorization": $.cookie("Authorization")
                }
            }
        },
        methods: {
            // 主页方法
            handleSelect(key, keyPath) {
                this.activeIndex2 = key
                if (this.activeIndex2 == 4) {
                    this.getUserInfo()
                } else if (this.activeIndex2 == '2-1') {
                    this.getPlans()
                } else if (this.activeIndex2 == '2-2') {
                    this.getArticles()
                } else if (this.activeIndex2 == '2-3') {
                    this.kedit("t1")
                } else if (this.activeIndex2 == '2-4') {
                    this.getAudit()
                } else if (this.activeIndex2 == '2-5') {
                    this.getTasks()
                } else if (this.activeIndex2 == '2-6') {
                    this.getTools()
                } else if (this.activeIndex2.startsWith("3-1-") || this.activeIndex2.startsWith("3-2-")) {
                    var tmp = this.activeIndex2.split("-")
                    var id = Number(tmp[tmp.length - 1])
                    this.getToolsById(id)
                }
            },
            // 用户中心方法
            getUserInfo() {
                var that = this;
                $.ajax({
                    url: "/in/api/userinfo",
                    type: "GET",
                    headers: that.headers,
                    success: function (json) {
                        that.userInfo.phone = json.phone
                        that.userInfo.email = json.email
                        that.userInfo.username = json.username
                        that.userInfo.photo = json.photo
                    }
                })
            },
            logout() {
                $.cookie('Authorization', null)
                location.href = "/login"
            },
            goToSettings() {
                this.activeIndex2 = "4-1"
            },
            // 用户设置页方法
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${file.name}？`);
            },
            modifyUser() {
                var that = this
                $.ajax({
                    type: "POST",
                    url: '/in/api/usermod',
                    contentType: 'application/json',
                    data: JSON.stringify(that.userInfo),
                    headers: that.headers,
                    success: function (data) {
                        that.$message.success("更新用户信息成功")
                    },
                    error: function (data) {
                        that.$message.error("更新用户信息失败")
                    }
                })
            },
            // 任务方法集
            getTasks() {
                var that = this;
                $.ajax({
                    url: "/in/api/tools/v1/task?page_no=" + that.taskNo,
                    type: "GET",
                    headers: that.headers,
                    success: function (json) {
                        that.taskPages = json.pages;
                        that.taskList = json.data;
                        that.taskTotalCount = json.pages * that.taskSize;
                    }
                })
            },
            taskPageChange(val) {
                this.taskNo = val;
                this.getTasks()
            },
            delTask(id) {
                var that = this;
                var data = {
                    cud: "delete",
                    id: id,
                }
                $.ajax({
                    type: "POST",
                    url: '/in/api/tools/v1/task',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    headers: that.headers,
                    success: function (data) {
                        that.$message.success(data.msg)
                        that.getTasks()
                    },
                    error: function (data) {
                        that.$message.error(data.msg)
                    }
                })
            },
            openEditTaskDialog(row) {
                this.taskDialogVisible = true
                this.task = row
                this.taskDialogTitle = "更新任务"
                this.task["cud"] = "put"
            },
            openNewTaskDialog() {
                this.task = {
                    name: "",
                    description: "",
                    every: 0,
                    enabled: 0,
                }
                this.task["cud"] = "post"
                this.taskDialogTitle = "新增任务"
                this.taskDialogVisible = true
            },
            taskFOp() {
                var that = this;
                that.taskDialogVisible = false
                that.task = {
                    name: "",
                    description: "",
                    every: 0,
                    enabled: 0,
                }
            },
            taskTOp() {
                var that = this;
                var data = this.task;
                $.ajax({
                    type: "POST",
                    url: '/in/api/tools/v1/task',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    headers: that.headers,
                    success: function (data) {
                        that.$message.success(data.msg)
                        that.taskDialogVisible = false
                        if (that.task.cud == "post") {
                            that.getTasks()
                        }
                    },
                    error: function (data) {
                        that.$message.error(data.msg)
                        that.taskDialogVisible = false
                    }
                })
            },
            // 计划方法集
            getPlans() {
                var that = this;
                $.ajax({
                    url: "/in/api/tools/v1/plan?page_no=" + that.planNo,
                    type: "GET",
                    headers: that.headers,
                    success: function (json) {
                        that.planPages = json.pages;
                        that.planList = json.data;
                        that.planTotalCount = json.pages * that.planSize;
                    }
                })
            },
            planPageChange(val) {
                this.planNo = val;
                this.getPlans()
            },
            delPlan(id) {
                var that = this;
                var data = {
                    cud: "delete",
                    id: id,
                }
                $.ajax({
                    type: "POST",
                    url: '/in/api/tools/v1/plan',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    headers: that.headers,
                    success: function (data) {
                        that.$message.success(data.msg)
                        that.getPlans()
                    },
                    error: function (data) {
                        that.$message.error(data.msg)
                    }
                })
            },
            openEditPlanDialog(row) {
                this.planDialogVisible = true
                this.plan = row
                this.planDialogTitle = "更新激活"
                this.plan["cud"] = "put"
            },
            openNewPlanDialog() {
                this.plan = {
                    name: "",
                    description: "",
                    plan_status: 0,
                }
                this.plan["cud"] = "post"
                this.planDialogTitle = "新增计划"
                this.planDialogVisible = true
            },
            planFOp() {
                var that = this;
                that.planDialogVisible = false
                that.plan = {
                    name: "",
                    description: "",
                    plan_status: 0,
                }
            },
            planTOp() {
                var that = this;
                var plan = this.plan;
                $.ajax({
                    type: "POST",
                    url: '/in/api/tools/v1/plan',
                    contentType: 'application/json',
                    data: JSON.stringify(plan),
                    headers: that.headers,
                    success: function (data) {
                        that.$message.success(data.msg)
                        if (that.plan.cud == "post") {
                            that.getPlans()
                        }
                        that.planDialogVisible = false
                    },
                    error: function (data) {
                        that.$message.error(data.msg)
                        that.planDialogVisible = false
                    }
                })
            },
            // 文章列表页功能集合
            getArticles() {
                var that = this;
                $.ajax({
                    url: "/in/api/tools/v1/article",
                    type: "GET",
                    data: {
                        page_no: that.articlesNo,
                        title: that.articleInline.key,
                        type: that.articleInline.type,
                    },
                    headers: that.headers,
                    success: function (json) {
                        that.articlesPages = json.pages;
                        that.articlesList = json.data;
                        that.articlesTotalCount = json.pages * that.articlesSize;
                    }
                })
            },
            articlesPageChange(val) {
                this.articlesNo = val;
                this.getArticles()
            },
            NewArticles() {
                console.log("new articles")
            },
            delArticles(id) {
                var that = this;
                var data = {
                    cud: "delete",
                    id: id,
                }
                $.ajax({
                    type: "POST",
                    url: '/in/api/tools/v1/article',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    headers: that.headers,
                    success: function (data) {
                        that.$message.success(data.msg)
                        that.getArticles()
                    },
                    error: function (data) {
                        that.$message.error(data.msg)
                    }
                })
            },
            articleSearch() {
                this.getArticles()
            },
            kedit(keid) {
                var that = this
                setTimeout(function () {
                    that.editor1 = KindEditor.create('#' + keid, {
                        items: ["source", "|", "undo", "redo", "|", "preview", "print", "template", "code", "cut", "copy", "paste", "plainpaste", "wordpaste", "|", "justifyleft", "justifycenter", "justifyright", "justifyfull", "insertorderedlist", "insertunorderedlist", "indent", "outdent", "subscript", "superscript", "clearhtml", "quickformat", "selectall", "|", "fullscreen", "/", "formatblock", "fontname", "fontsize", "|", "forecolor", "hilitecolor", "bold", "italic", "underline", "strikethrough", "lineheight", "removeformat", "|", "image", "multiimage", "flash", "media", "insertfile", "table", "hr", "emoticons", "baidumap", "pagebreak", "anchor", "link", "unlink", "|", "about"],
                        cssPath: '/kindeditor/plugins/code/prettify.css',
                        allowFileManager: true,
                        afterCreate: function () {
                            var self = this;
                        }
                    });
                    if (that.article.type == "go" || that.article.type == "shell" || that.article.type == "python") {
                        $("[title='HTML代码']").click()
                    }
                }, 500)
            },
            preSave() {
                var html = this.editor1.html();
                this.article.content = html;
                if (this.tdid != 0) {
                    this.article["cud"] = "put"
                } else {
                    this.article["cud"] = "post"
                }
                var that = this
                $.ajax({
                    url: "/in/api/tools/v1/article",
                    type: "POST",
                    dataType: "json",
                    headers: this.headers,
                    data: JSON.stringify(this.article),
                    success: function (data) {
                        that.$message.success(data.msg)
                    },
                    error: function (data) {
                        that.$message.error(data.msg)
                    }
                })
            },
            editArticles(id) {
                this.tdid = id;
                var that = this;
                $.ajax({
                    url: "/in/api/tools/v1/articlebyid",
                    type: "GET",
                    data: {
                        id: that.tdid
                    },
                    headers: that.headers,
                    success: function (json) {
                        console.log(json)
                        that.activeIndex2 = "2-3"
                        that.kedit("t1")
                        that.article.title = json.title
                        that.article.type = json.type
                        that.article.content = json.content
                    }
                })
            },
            // 群发邮件
            sendEmail() {
                var that = this;
                var data = that.email;
                var elists = that.email.elists;
                elists = elists.replace(/\n/g, ";")
                data["elists"] = elists
                $.ajax({
                    type: "POST",
                    url: "/in/api/sendemail",
                    dataType: "json",
                    headers: that.headers,
                    data: JSON.stringify(that.email),
                    contentType: "application/json;charset=utf-8",
                    success: function (json) {
                        if (json["msg"] == "发送邮件成功") {
                            that.$message.success("发送邮件成功")
                        } else {
                            that.$message.error("发送邮件失败")
                        }
                    }
                })
            },
            noSendEmail() {
                this.email = {
                    elists: "",
                    ebody: `

以上，谢谢！
祝身体健康，工作顺利，万事如意！
---------------------------------------------------------

李韩
TEL: 18262629610
EMAIL: mx_steve@163.com`,
                    etitle: "",
                    smtp: "smtp.163.com:25",
                    epwd: "GDQFQYVUXMDVKBXS",
                    ename: "mx_steve@163.com"
                }
            },
            // 审计日志功能集合
            getAudit() {
                var that = this;
                $.ajax({
                    url: "/in/api/tools/v1/audit",
                    type: "GET",
                    data: {
                        page_no: that.auditNo,
                        name: that.auditInline.name,
                        operator: that.auditInline.operator,
                    },
                    headers: that.headers,
                    success: function (json) {
                        that.auditPages = json.pages;
                        that.auditList = json.data;
                        that.auditTotalCount = json.pages * that.auditSize;
                    }
                })
            },
            auditPageChange(val) {
                this.auditNo = val;
                this.getAudit()
            },
            auditSearch() {
                this.getAudit()
            },
            // 工具方法集
            getTools() {
                var that = this;
                $.ajax({
                    url: "/in/api/tools/v1/toolsmanage?page_no=" + that.toolsNo,
                    type: "GET",
                    headers: that.headers,
                    success: function (json) {
                        that.toolsPages = json.pages;
                        that.toolsList = json.data;
                        that.toolsTotalCount = json.pages * that.toolsSize;
                    }
                })
            },
            getToolsById(id) {
                var that = this;
                $.ajax({
                    url: "/in/api/tools/v1/toolsmanagebyid?id=" + id,
                    type: "GET",
                    headers: that.headers,
                    success: function (json) {
                        that.toolsmanage = json;
                    }
                })
            },
            toolsMenu() {
                var that = this;
                $.ajax({
                    url: "/in/api/tools/v1/toolsmanage?page_no=1&page_size=1000",
                    type: "GET",
                    headers: that.headers,
                    success: function (json) {
                        var data = json.data
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i]
                            if (item.type == "开发工具") {
                                that.devTools.push(item)
                            } else if (item.type == "运维工具") {
                                that.opTools.push(item)
                            } else {
                                that.otherTools.push(item)
                            }
                        }
                    }
                })
            },
            toolsPageChange(val) {
                this.toolsNo = val;
                this.getTools()
            },
            delTools(id) {
                var that = this;
                var data = {
                    cud: "delete",
                    id: id,
                }
                $.ajax({
                    type: "POST",
                    url: '/in/api/tools/v1/toolsmanage',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    headers: that.headers,
                    success: function (data) {
                        that.$message.success(data.msg)
                        that.getTools()
                    },
                    error: function (data) {
                        that.$message.error(data.msg)
                    }
                })
            },
            openEditToolsDialog(row) {
                this.toolsDialogVisible = true
                this.tools = row
                this.toolsDialogTitle = "更新工具"
                this.tools["cud"] = "put"
            },
            openNewToolsDialog() {
                this.tools = {
                    name: "",
                    bin: "",
                    src: "",
                    type: "",
                    del_tag: 0,
                    enabled: 0,
                }
                this.tools["cud"] = "post"
                this.toolsDialogTitle = "新增工具"
                this.toolsDialogVisible = true
            },
            toolsFOp() {
                var that = this;
                that.toolsDialogVisible = false
                that.tools = {
                    name: "",
                    bin: "",
                    src: "",
                    type: "",
                    del_tag: 0,
                    enabled: 0,
                }
            },
            toolsTOp() {
                var that = this;
                var data = this.tools;
                $.ajax({
                    type: "POST",
                    url: '/in/api/tools/v1/toolsmanage',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    headers: that.headers,
                    success: function (data) {
                        that.$message.success(data.msg)
                        that.toolsDialogVisible = false
                        if (that.tools.cud == "post") {
                            that.getTools()
                        }
                    },
                    error: function (data) {
                        that.$message.error(data.msg)
                        that.toolsDialogVisible = false
                    }
                })
            },
            toolsRun() {
                var tmp = this.activeIndex2.split("-")
                var id = Number(tmp[tmp.length - 1])
                var that = this;
                $.ajax({
                    type: "GET",
                    url: '/in/api/tools/v1/toolsrun',
                    contentType: 'application/json',
                    data: { id: id },
                    headers: that.headers,
                    success: function (data) {
                        that.$message.success(data.msg)
                    },
                    error: function (data) {
                        that.$message.error(data.msg)
                    }
                })
            },

        },
        mounted() {
            this.toolsMenu()
        }
    });
</script>

</html>