{{ define "articles" }}
<div class="main">
    <h3 style="text-align: center;margin: 15px auto;">文章列表</h3>
    <el-form :inline="true" :model="articleInline" class="demo-form-inline">
        <el-form-item label="关键词">
            <el-input v-model="articleInline.key" placeholder="关键词搜索"></el-input>
        </el-form-item>
        <el-form-item label="文章类型">
            <el-select v-model="articleInline.type" placeholder="文章类型">
                <el-option v-for="(item,index) in articlesType" :key="index" :label="item" :value="item"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="articleSearch">查询</el-button>
        </el-form-item>
    </el-form>
    <el-button type="text" class="el-icon-circle-plus" @click="NewArticles"></el-button>
    <el-table :data="articlesList" style="width: 100%">
        <el-table-column prop="id" label="ID" width="60">
        </el-table-column>
        <el-table-column prop="title" label="标题" width="350">
        </el-table-column>
        <el-table-column prop="type" label="类型" width="80">
        </el-table-column>
        <el-table-column prop="created_at" label="更新时间" width="180">
        </el-table-column>
        <el-table-column label="操作" width="120">
            <template slot-scope="scope">
                <el-button type="text" size="mini" class="el-icon-edit" @click="editArticles(scope.row.id)"></el-button>
                <el-button type="text" size="mini" class="el-icon-delete" @click="delArticles(scope.row.id)">
                </el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination :currentPage="articlesNo" :hide-on-single-page="true" background layout="prev, pager, next"
        @current-change="articlesPageChange" :total="articlesTotalCount">
    </el-pagination>
</div>
{{ end }}