{{ define "email" }}
<div class="main">
    <h3 style="text-align: center;margin: 15px auto;">群发邮件</h3>
    <el-form ref="email" :model="email" label-width="80px">
        <el-form-item label="邮件账号">
            <el-input v-model="email.ename" placeholder="请输入邮箱用户名"></el-input>
        </el-form-item>
        <el-form-item label="邮件密码">
            <el-input type="password" v-model="email.epwd" placeholder="请输入邮箱登录密码"></el-input>
        </el-form-item>
        <el-form-item label="SMTP">
            <el-input v-model="email.smtp" placeholder="SMTP服务器:端口"></el-input>
        </el-form-item>
        <el-form-item label="邮件列表">
            <el-input type="textarea" v-model="email.elists" placeholder="请输入邮件列表,一行一个"></el-input>
        </el-form-item>
        <el-form-item label="邮件主题">
            <el-input v-model="email.etitle" placeholder="请输入邮件主题"></el-input>
        </el-form-item>
        <el-form-item label="邮件内容">
            <el-input type="textarea" :rows="10" v-model="email.ebody" placeholder="请输入邮件内容"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="sendEmail">发送</el-button>
            <el-button @click="noSendEmail">取消</el-button>
        </el-form-item>
    </el-form>
</div>
{{ end }}