{{ define "ind" }}
<div class="main">
    <el-row>
        {{range $label := .Headers}}
        <el-col :span="6">
            <el-card class="box-card" shadow="hover">
                <div slot="header" class="clearfix">
                    <i class="{{$label.icon}}"></i>
                    <span>{{$label.title}}</span>
                </div>
                <div>
                    <h3>{{$label.h3}}</h3>
                    <p>{{$label.p}}</p>
                </div>
            </el-card>
        </el-col>
        {{end}}
    </el-row>
    <el-row style="margin-top: 20px;">
        <el-col :span="24">
            <el-tag>唯一</el-tag>
        </el-col>
    </el-row>
    <el-divider></el-divider>
    <el-row style="margin-top: 25px;">
        <el-col :span="24">
            <el-carousel :interval="4000" type="card" height="200px">
                {{range $index,$label := .Carousel02}}
                <el-carousel-item style="background-color: #ddd;text-align: center;">
                    <h3 class="medium">{{$label.title}}</h3>
                    <img height="100%" src="{{$label.img}}" alt="" srcset="">
                </el-carousel-item>
                {{end}}
            </el-carousel>
        </el-col>
    </el-row>
    <el-row style="margin-top: 20px;">
        <el-col :span="24">
            <el-tag>价值</el-tag>
        </el-col>
    </el-row>
    <el-divider></el-divider>
    <el-row style="margin-top: 25px;">
        <el-col :span="24">
            <el-carousel :interval="4000" type="card" height="200px">
                {{range $index,$label := .Carousel01}}
                <el-carousel-item style="background-color: #ddd;text-align: center;">
                    <h3 class="medium">{{$label.title}}</h3>
                    <img height="100%" src="{{$label.img}}" alt="" srcset="">
                </el-carousel-item>
                {{end}}
            </el-carousel>
        </el-col>
    </el-row>
</div>
{{ end }}