{{ define "menus" }}
<div>
   <el-form :inline="true" :model="article" class="demo-form-inline">
        <el-form-item label="标题">
            <el-input v-model="article.title" placeholder="文章标题"></el-input>
        </el-form-item>
        <el-form-item label="文章类型">
            <el-select v-model="article.type" placeholder="文章类型">
                <el-option v-for="(item,index) in articlesType" :key="index" :label="item" :value="item"></el-option>
            </el-select>
        </el-form-item>
    </el-form>
    <div id="example" name="example">
        <textarea id="t1" name="t1" cols="100" rows="8" style="width:99%;min-height:300px;visibility:hidden;">
        </textarea>
        <input type="hidden" id="t2" value="" />
        <input type="button" class="el-button el-button--primary" value="提交" onclick="preSave()" />
    </div> 
</div>
<script>
    
</script>
{{ end }}